
@{
    ViewBag.Title = "Index";
}




<h2>Index</h2>
<div>
    <h2>Excel Import</h2>
    @*truncate table Student_Details*@

    <form method="post" enctype="multipart/form-data">
        <div>
            <input name="file" type="file" required />
            <button type="submit">Import</button>
        </div>
    </form>

</div>
